#more-optn{
  z-index: 99;
  background-color: black;
  border-radius: 10px;
}
html, body {
      margin: 1px;
      overflow: hidden;
    }
canvas {
      background-color: aqua;
      display: block;
      touch-action: none;
    }
#map-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  color : white;
  padding: 8px 12px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
  /* pointer-events: none; */
  z-index: 10;
}
.overlay{
  position: inherit;
  top:0;
  left: 0;
  width : 100vw;
  height : 100vh;
  background-color:rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 6;
  overflow: scroll;
}

.overlay-content{
  width : 80vw;
  background: white;
  padding: 20px;
  border-radius: 10px;
  /* text-align: center; */
  box-shadow: 0 0 10px black;
  overflow-y: scroll;
  overflow: scroll;
  /* display : none; */
}

.prompt-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: none;
  display: none; /* Hidden by default */
  z-index: 10;
}

.prompt-box {
  background:  rgb(74, 70, 70);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.prompt-box input {
  width: 60%;
  padding: 8px;
  margin-top: 10px;
}

.prompt-box button {
  margin: 10px 5px 0 5px;
  padding: 5px 15px;
}
/* #promptMessage{
  color: aliceblue;
} */

.prompt-message{
  color: aliceblue;
}
#prompt-switch-button{
  width : 20%;
  border-radius: 10px;
}

#promptInput{
  border-radius: 10px;
}

.add-label{
  border-radius: 10px;
  color: aliceblue;
  width: 80vw;
}
.add-input{
  border-radius: 10px;
  margin-left: 10px;
  font-size: 12px;
  width: 60vw;
}
.form{
  align-items: last baseline;
  /* padding-left: 1vw; */
}

.prompt-more-optn {
  position: fixed;
  margin-left: auto;
  margin-right: 0;
  top: 0; left: 0; right: 0; bottom: 0;
  background: none;
  width: fit-content;
  display: none; /* Hidden by default */
  /* justify-content: center; */
  /* align-items: center; */
  background-color: bisque;
  z-index: 5;
}


.prompt-box-popup{
  background:  rgb(74, 70, 70);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: fit-content;
  z-index: 6;
  /* margin-top: 20vh; */
  padding-top: 10vh;
}

.prompt-button{
  width: 20ch;
  font-size: large;
  height: fit-content;
  text-align: left;
  z-index: 6;
}

.show-button{
  font-size: large;
  width:10ch;
}
@media(min-width: 1001px){
  .prompt-overlay{
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1000px) {
  .prompt-button {
    color: green;
    width: 40vw;
    font-size: 5vw;
    
  }
  #scale{
    font-size: 2vw;
  }
  #coord{
    font-size: 2vw;
  }
  #map-popup{
    width: 30vw;
  }
  #promptInput{
    font-size:3vw;
    margin-top: 2vh;
    margin-bottom:1vh;
  }
  #prompt-switch-button{
    font-size: 3vw;
    margin-top: 1.5vh;
    margin-bottom: 1vh;
  }
  .show-button{
    width:20vw;
    font-size: 5vw;
  }
  .prompt-overlay{
    padding-top: 10vh;
    padding-left: 20vw;
    height: fit-content;
  }
  .prompt-box{
    width: 60vw;
    padding-top: 0px;
    border: solid 1vw darkcyan;
    border-radius: 50px;
  }
  .add-label{
    font-size: 3vw;
  }
  .add-input{
    font-size: 3vw;
  }
  .overlay-btn{
    font-size: 3vw;
    border-radius: 10px;
  }
  .heading{
    font-size:2vh;
    padding-top: 1vh;
  }
}
